
body
{
	background-color: #FFFFFF;
	background-image: url("../imagenes/EX_rotado_difuminado.png");
	background-repeat: no-repeat;
	font-family: Arial;
}

#logo
{
	float: right;
	margin-right: 6em;
	margin-top: 5em;
	background-image: url("../imagenes/logo_50.png");
	background-repeat: no-repeat;
	min-width: 555px;
	min-height: 148px;
	
}

#mensaje_construccion
{
	float: right;
	clear: both;
	margin-right: 6em;
	margin-top: 2em;
	padding-right: 2em;
	border-right: solid 2px #355ec3;
	text-align: right;
	
}

#mensaje_secundario
{
	float: right;
	clear: both;
	margin-right: 6em;
	margin-top: 2em;
	padding-right: 2em;
	border-right: solid 2px #828180;
	text-align: right;
	max-width: 50%;
	
}

#mensaje_secundario_320
{
	display: none;
}

#copy_bottom
{
	position: absolute;
	top: 90%;
	left: 5%;
	width: 90%; 
	border-top: solid 2px #828180;
	padding-top: 1em;
	text-align: center;
}

@media screen and (max-width: 950px)
{
	body
	{
    	background-color: #FFFFFF;
    	background-image: url("../imagenes/EX_rotado_difuminado_125.png");
    	font-family: Arial;
	}
	#logo
	{
		min-width: 200px;
		min-height: 53px;
		float: rigth;
		background-image: url("../imagenes/logo_200.png");
		margin-top: 1em;
		margin-right: 0px;
		clear: both;
	}
	#mensaje_construccion
	{
		margin-right: 1em;
		margin-top: 2em;
		padding-right: 1em;
	}
	#mensaje_secundario
	{
		display: none;
	}
	#mensaje_secundario_320
	{
		float: left;
		display: inline;
		margin-top: 2em;
		margin-left: 1em;
		text-align: justify;
		max-width: 80%;
	}
	#copy_bottom
	{
		top: 90%;
		padding-top: 0px;
	}
}
