
body
{
	background-color: #FFFFFF;
	background-image: url("../imagenes/EX_rotado_difuminado.png");
	background-repeat: no-repeat;
	font-family: Arial;
}

#logo
{
	float: right;
	margin-right: 6em;
	margin-top: 5em;
	
}

#mensaje_construccion
{
	float: right;
	clear: both;
	margin-right: 6em;
	margin-top: 2em;
	padding-right: 2em;
	border-right: solid 2px #355ec3;
	text-align: right;
	
}

#mensaje_secundario
{
	float: right;
	clear: both;
	margin-right: 6em;
	margin-top: 2em;
	padding-right: 2em;
	border-right: solid 2px #828180;
	text-align: right;
	max-width: 50%;
	
}

#copy_bottom
{
	position: absolute;
	top: 90%;
	left: 5%;
	width: 90%; 
	border-top: solid 2px #828180;
	padding-top: 1em;
	text-align: center;
}